{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
    <script src="{% static 'js/vue.2.6.11.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}

    <footer class="info">
        <p>Double-click to edit a todo</p>
    </footer>

    {% block js %}
    {% endblock %}
</body>
</html>