{% extends "base.html" %}
{% load static %}

{% block body %}
{% verbatim %}

  <section class="todoapp">
    <header class="header">
      <h1>
        <a href="/">todos</a>
      </h1>
      <input
        class="new-todo"
        autofocus
        autocomplete="off"
        placeholder="What needs to be done?"
        v-model="newTodo"
        @keyup.enter="addTodo"
      />
    </header>

    <section class="main" v-show="todos.length" v-cloak>
      <input
        id="toggle-all"
        class="toggle-all"
        type="checkbox"
        v-model="allDone"
      />
      <label for="toggle-all"></label>
      <ul class="todo-list">
        <li
          v-for="todo in filteredTodos"
          class="todo"
          :key="todo.id"
          :class="{ completed: todo.completed, editing: todo == editedTodo }"
        >
          <div class="view">
            <input class="toggle" type="checkbox" v-model="todo.completed" @click="toggleCompleted(todo)" />
            <label @dblclick="editTodo(todo)">
              {{ todo.title }}
              <span>{{ todo.created_at }}</span>
            </label>
            <button class="destroy" @click="removeTodo(todo)"></button>
          </div>
          <input
            class="edit"
            type="text"
            v-model="todo.title"
            v-todo-focus="todo == editedTodo"
            @blur="doneEdit(todo)"
            @keyup.enter="doneEdit(todo)"
            @keyup.esc="cancelEdit(todo)"
          />
        </li>
      </ul>
    </section>
    <div class="loading"></div>

    <footer class="footer" v-show="todos.length" v-cloak>
      <span class="todo-count">
        <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
      </span>
      <ul class="filters">
        <li>
          <a href="#/all" :class="{ selected: visibility == 'all' }">All</a>
        </li>
        <li>
          <a href="#/active" :class="{ selected: visibility == 'active' }"
            >Active</a
          >
        </li>
        <li>
          <a
            href="#/completed"
            :class="{ selected: visibility == 'completed' }"
            >Completed</a
          >
        </li>
      </ul>
      <button
        class="clear-completed"
        @click="removeCompleted"
        v-show="todos.length > remaining"
      >
        Clear completed
      </button>
    </footer>
  </section>

{% endverbatim %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block js %}
<div style="display:none">{% csrf_token %}</div>
<script src="{% static 'js/vue.2.6.11.min.js' %}"></script>
<script>

  var request = {
    post: function(url, data) {
      return new Promise((resolve, reject) => {
        fetch(url, {
          method: "POST",
          headers: {
            'Content-Type': 'application/json',
            "X-CSRFToken": document.querySelector('input[name="csrfmiddlewaretoken"]').value
          },
          body: JSON.stringify(data)
        }).then(response => {
          return response.json()
        }).then(json => {
          resolve(json)
        }).catch(error => {
          reject(error)
        })
      })
    }
  }

  var todoStorage = {
    todos: {{ todo_items|safe }},
    url: "{% url 'todo_home' %}",
    fetch: function() {
      return this.todos;
    },
    add: function(todo) {
      return new Promise((resolve, reject) => {
        request.post(this.url + "?_action=add_todo", todo).then(json => {
          this.todos = json.todos;
          resolve(json)
        })
      })
    },
    remove: function(todos) {
      return new Promise((resolve, reject) => {
        request.post(this.url + "?_action=remove_todos", todos).then(json => {
          this.todos = json.todos;
          resolve(json)
        })
      })
    },
    edit: function(todo) {
      return new Promise((resolve, reject) => {
        request.post(this.url + "?_action=edit_todo", todo).then(json => {
          this.todos = json.todos;
          resolve(json)
        })
      })
    }
  }

  var filters = {
    all: function(todos) {
      return todos;
    },
    active: function(todos) {
      return todos.filter(function(todo) {
        return !todo.completed;
      });
    },
    completed: function(todos) {
      return todos.filter(function(todo) {
        return todo.completed;
      });
    }
  };


  var app = new Vue({
    data: {
      todos: todoStorage.fetch(),
      newTodo: "",
      editedTodo: null,
      visibility: "all"
    },

    // watch: {
    //   todos: {
    //     handler: function(todos) {
    //       todoStorage.save(todos);
    //     },
    //     deep: true
    //   }
    // },

    computed: {
      filteredTodos: function() {
        return filters[this.visibility](this.todos);
      },
      remaining: function() {
        return filters.active(this.todos).length;
      },
      allDone: {
        get: function() {
          return this.remaining === 0;
        },
        set: function(value) {
          this.todos.forEach(function(todo) {
            todo.completed = value;
            todoStorage.edit(todo);
          });
        }
      }
    },

    filters: {
      pluralize: function(n) {
        return n === 1 ? "item" : "items";
      }
    },

    methods: {
      addTodo: function() {
        var value = this.newTodo && this.newTodo.trim();
        if (!value) {
          return;
        }
        todoStorage.add({
          id: null,
          title: value,
          completed: false
        }).then(json => {
          this.todos = json.todos
        });
        this.newTodo = "";
      },

      removeTodo: function(todo) {
        // this.todos.splice(this.todos.indexOf(todo), 1);
        todoStorage.remove([todo]).then(json => {
          this.todos = json.todos
        });
      },

      editTodo: function(todo) {
        this.beforeEditCache = todo.title;
        this.editedTodo = todo;
      },

      doneEdit: function(todo) {
        if (!this.editedTodo) {
          return;
        }
        this.editedTodo = null;
        todo.title = todo.title.trim();
        if (!todo.title) {
          this.removeTodo(todo);
        }
        else {
          todoStorage.edit(todo).then(json => {
            this.todos = json.todos
          });
        }
      },

      cancelEdit: function(todo) {
        this.editedTodo = null;
        todo.title = this.beforeEditCache;
      },

      removeCompleted: function() {
        // this.todos = filters.active(this.todos);
        todoStorage.remove(filters.completed(this.todos)).then(json => {
          this.todos = json.todos
        });
      },

      toggleCompleted: function(todo) {
        todo.completed = !todo.completed;
        todoStorage.edit(todo);
      }
    },

    directives: {
      "todo-focus": function(el, binding) {
        if (binding.value) {
          el.focus();
        }
      }
    }
  });

  // handle routing
  function onHashChange() {
    var visibility = window.location.hash.replace(/#\/?/, "");
    if (filters[visibility]) {
      app.visibility = visibility;
    } else {
      window.location.hash = "";
      app.visibility = "all";
    }
  }

  window.addEventListener("hashchange", onHashChange);
  onHashChange();

  // mount
  app.$mount(".todoapp");

  Vue.config.devtools = true;
</script>
{% endblock %}
